<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<!-- manifest="offline.appcache" -->
<head>

<!-- 3rd party -->
<script src="libs/jquery.js"></script>
<script src="libs/knockout.js"></script>
<link href="libs/bootstrap.css" rel="stylesheet" />
<script src="libs/bootstrap.js"></script>

<!-- make stuff work -->
<script src="tiny_mce/tiny_mce.js"></script>
<script src="tiny_mce/jquery.tinymce.js"></script>
<script src="javascripts/tinymcebinding.js"></script>

<!-- my styles -->
<link href="stylesheets/style.css" rel="stylesheet" />

<!-- my code -->
<script src="javascripts/guid.js"></script>
<script src="javascripts/simplestore.js"></script>
<script src="javascripts/indexeddbaccessor.js"></script>
<script src="javascripts/localqueryengine.js"></script>
<script src="javascripts/localsavecommandengine.js"></script>
<script src="javascripts/notes.js"></script>
<script src="javascripts/loginstatusqueryengine.js"></script>
<script src="javascripts/init.js"></script>

<!-- offline -->
<!-- <script src="javascripts/offline.js"></script> -->

</head>

<body>

    <input id="sessionid" type="hidden" />

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Chad's Notes</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                <!--
              Logged in as <a href="#" class="navbar-link">Username</a>
                -->
            </p>
            <ul class="nav">
            <!--
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        <div id="login-container" class="container-fluid">
        <br />
        <br />
        <br />
            <div>
            <a href="auth/facebook">Login with Facebook</a></div>

        </div>

<div id="main-container" class="container-fluid" data-bind="visible: showdata">
    <div class="row-fluid">
        <div class="span2">
            <table class="table" data-bind="foreach: notes">
                <tr>
                    <td data-bind="text: title, click: $parent.load"></td>
                </tr>
            </table>
        </div>
        <div class="span10">
            <div>
                <button data-bind="click: create, enable: isNewEnabled" >Create</button>
                <button data-bind="click: save, enable: isSaveEnabled" >Save</button>
            </div>

            <div>

                <fieldset>

                    <label for="titleText">Title</label>
                    <input id="noteTitle" type="text" data-bind="value: activeTitle, valueUpdate:'afterkeydown'" />
                    <label for="bodyText">Body</label>
                    <textarea id="noteBody" class="tinymce" data-bind="tinymce: activeBody, tinymceOptions: { theme: 'simple' }" />

                </fieldset>
            </div>
        </div>
    </div>
</div>

</body>

</html>
